<html>
<head>
    <title>Simple Web Logger</title>
</head>
<body>

    <div ng-app="simpleLogger">
        <pre ng-controller="logCtrl">
<h2>Simple Web Logger</h2>
Response: {{reply}}

Level  (optional) &lt;debug|info|warn|error&gt;: <input ng-model="level" />
Logger (optional) &lt;any string&gt;:            <input ng-model="logger" />

Message:
<textarea rows="4" cols="66" ng-model="message"></textarea>
<button ng-click="log()">Log</button>

<a href="/api/log">See logs &raquo;</a>

<button ng-click="deleteLog()">Delete Logs</button>

<h3>Specification:</h3>
--------------------------------------------------------------------
Add log entry
--------------------------------------------------------------------
POST /api/log
X-Logger: &lt;any-string&gt; (optional - default:main)
X-LogLevel: &lt;debug|info|warn|error&gt; (optional - default:debug)

&lt;any-string-as-message&gt;
---
200 OK
OK &lt;date-time&gt;

--------------------------------------------------------------------
Retrieve all log entries
--------------------------------------------------------------------
GET /api/log
---
200 OK
&lt;log-entries-as-JSON-array&gt;

<a href="main.js">See main.js for an example of how to use the API &raquo;</a>

        </pre>
    </div>

    <script src="angular.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
